@import "/public/assets/styles/variables.scss";

.Accept_requested_docs {
  .user_table {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(#01aaed, 0.05),
      0rem 0rem 0.2rem rgba(#01aaed, 0.3);
    font-size: 1.4rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    .send {
      width: 25rem;
      padding: 2rem;
    }

    .avatar {
      width: 15rem;
      padding: 1rem;
      padding-left: 2rem;
    }

    .name,
    .hash {
      width: 50%;
      padding: 2rem;
    }

    .table_of_content {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $neutral-200;

      .name,
      .avatar,
      .hash,
      .send {
        font-size: 1.2rem;
        font-weight: 600;
        color: gray;
      }
    }

    .users_container {
      display: flex;
      flex-direction: column;
      font-weight: 600;

      .hash {
        color: $neutral-400;
      }

      .user {
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        .btn_primary {
          padding: 0.6rem 2rem;
          font-size: 1.2rem;
          width: max-content;
          font-weight: 600;
          border-radius: 0.5rem;
          background: linear-gradient(to right, #00b7ff 0%, $primary-blue 80%);
          border-radius: 5rem;
          border: none;
          outline: none;
          color: #ffff;
          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            background: linear-gradient(to right, #01aaed 0%, #1d819f 80%);
          }
        }
      }
    }
  }
}
